<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="box-shadow">
      <h3>Mettre à jour un évenement</h3>
      <%= render 'form', meeting: @meeting %>
    </div>
    </section

