<div id="hidden-mobile">

  <div class="col-xs-12 col-sm-3">
    <%= link_to new_contact_path class:"card-link" do %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('https://i.ytimg.com/vi/v5sY7e92HJw/hqdefault.jpg');">
      <div class="card-category">ACTUALITE</div>
      <div class="card-description">
        <h2>Foire de Paris</h2>
        <h5>Reservez votre stand</h5>
      </div>
    </div>
    <% end %>

    <br>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('https://sixactualites.fr/wp-content/uploads/2017/06/Bijou.jpg');">
      <div class="card-category">CREATEUR</div>
      <div class="card-description">
        <h2>La créatrice du mois</h2>
        <h5>Little Janette</h5>
      </div>
      <a class="card-link" href="#" ></a>
    </div>
    <br>
    Suivez notre actualité:
    <br>
    <div class="text-center">
      <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>  <i class="fa fa-instagram fa-3x" aria-hidden="true"></i> <i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
    </div>

  </div>

</div>
