    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1478391679764-b2d8b3cd1e94?w=2850&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
      <div class="banner-content">
        <h1>Les armoires de Paris</h1>
        <p>Le vide dressing tendance chic</p>
        <section class="page-section" id="landing-about">
          <div class="container relative center no-padding">
            <div class="landing-tab-form">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active text-center" id="landing-atelier">
                <h3>Trouvez un article</h3>
                <p>par nom, par categorie, par marque...</p>
                    <%= form_tag(search_path, method: :get) do %>
                      <%= text_field_tag :name %>
                      <%= submit_tag 'Rechercher', class:"btn btn-info" %>
                    <% end %>
                </div>

                <div role="tabpanel" class="tab-pane" id="landing-recette">
                <h2><strong>Découvrez les plus belles recettes</strong> partagées par la communauté Kweezine</h2>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
