
  <div class="row">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12">
        <h4>Les armoires de Paris</h4>
        <p>_______________________________</p>
        <p>Triari nullo perdiscere ille eius inquam dissentientium ut in quo disputando inquam ut quae solent tum dicas a potest cum.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center padded features">
      <div class="col-xs-12 col-sm-6 col-md-4">
         <%= image_tag "closet.png", heigth:50, width: 80 %>
        <h4>Les armoires de Paris</h4>
        <p>Triari nullo perdiscere ille eius inquam dissentientium ut in quo disputando inquam ut quae solent tum dicas a potest cum.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
       <%= image_tag "clothes.png", heigth:50, width: 80 %>
        <h4>Vendez vos vetements</h4>
        <%= link_to search_path do %>
        <p>Créez votre page personnalisée sur notre site, et informez les acheteurs sur vos articles et votre présence à l'un de nos évenement.</p>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
        <h4>Les Prochains évenements</h4>
        <%= link_to meetings_path do %>
        <p>Alia desiderata solet solet causa et nihil vicissimque natura maxime est ex alio id coniungendam alio quisque verum hoc iis.</p>
        <% end %>
      </div>
    </div>
  </div>

