<div id="hidden-mobile">
  <div class="col-xs-12 text-center">
    <p>___________</p><h4><strong>Les derniers projets ajoutés</strong></h4>
  </div>
  <div class="col-xs-12">
    <% @selection.each do |product| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default box-shadow">
        <div class="panel-heading preview">
        <!--
          <%= image_tag product.photos[0].image.url, style: 'height:125px;width:250px' if product.photos.length > 0  %>
          -->
        </div>
        <div class="panel-body">
          <div class="col-xs-12 text-center">
            <h5><%= link_to product.name, product %></h5><%= product.sector %><br>
            <hr>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <strong><%= product.created_at.strftime("%-d %B %Y") %></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
