  <div id="hidden-mobile">


  <div class="row">
   <div class="col-xs-12 col-sm-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Nos Catégories
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Chaussures</a></li>
        <li><a href="#">Sacs</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Voir Tout</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Nos Marques
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Nos Bijoux
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>


  <div class="col-xs-12 col-sm-3">
    <div class="search">
      <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do %>
      <%= text_field_tag 'term', params[:term], placeholder: "Chercher un article", class: "form-control" %>
      <% end %>
    </div>
  </div>
</div>

</div>
