<div class="text-center">
  <h4>Conditions d'utilisations du site</h4>
</div>

<div class="text-center">
  <strong>Article 1.</strong>Conditions Générales<br>
  Tous les articles mis en ligne doivent respecter nos condiitons pour être publiés. Nous nous reservons le droit de refuser votre article, si celui-ci ne correspond pas à nos critères.

  Vous disposerez d'un espace vous permettant de communiquer sur vos articles et d'entrer en contact avec nos acheteuses.<br>
  Vos articles permettront aux personnes situées à proximité de consulter rapidement vos articles et entrer en contact avec vous! <br>
  Enfin vos acheteuses sauront ou vous trouvez, si vous participez à nos évenements

  Lorsque vous vendez un article, vous donnez aussi le droit à votre acheteur de commenter son achat en lui communiquant un code aprés la vente. Ces commentaires vous permettent de rassurer vos prochaines clientes sur la qualité de vos articles et sur votre serieux.<br><br>

  <strong>Article 2.</strong>Devenir vendeuse<br>

</div>
