<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Vous souhaitez de venir vendeuse?</h3>

      Rien de plus simple, <%= link_to "inscrivez-vous sur notre site", new_user_session_path %> et cochez la case "Devenir Vendeuse". Nous recevrons un message qui nous informera de votre souhait.. Nous confirmerons votre demande et vous pourrez dès lors mettre en ligne vos articles respectant nos condiitions.<hr>
      Connaître nos conditions<br>
      Tous les articles mis en ligne doivent respecter nos condiitons pour être publiés. Nous nous reservons le droit de refuser votre article, si celui-ci ne correspond pas à nos critères. <hr>

      Vous disposerez d'un espace vous permettant de communiquer sur vos articles et d'entrer en contact avec nos acheteuses.<br>
      Vos articles permettront aux personnes situées à proximité de consulter rapidement vos articles et entrer en contact avec vous! <br>
      Enfin vos acheteuses sauront ou vous trouvez, si vous participez à nos évenements<hr>

      Lorsque vous vendez un article, vous donnez aussi le droit à votre acheteur de commenter son achat en lui communiquant un code aprés la vente. Ces commentaires vous permettent de rassurer vos prochaines clientes sur la qualité de vos articles et sur votre serieux.<hr>
    </div>
  </div>
</div>
