<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container">
    <h4>Qui sommes-nous?</h4>
    <br>
    <div class="row">
      <div class="col-xs-6 text-center">

       <%= image_tag "equipe.jpg", width:300 %>
     </div>
     <div class="col-xs-6 text-center">
      <%= image_tag "equipe2.jpg", width:300 %>

    </div>
    <hr>
    <div class="text-center">
      Une équipe passionnée par la mode et les relations humaines vous proposant de donner une seconde vie à vos articles tendances sur nos évènements ou directement en ligne !  Vous souhaitez participer à nos évènements et y vendre vos articles ?<br> <%= link_to "Inscrivez-vous dés à présent", meetings_path, class:"btn btn-info" %>
    </div>
</div>
</section>
