<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h4 class="page_title"> Merci pour votre message! </h4>
    <p>je reviendrai vers vous rapidement..Sarah</p>
  </div>
</div>
