 .avatar-small {
  width: 28px;
 }

.avatar-medium {
  width: 48px;
 }

.avatar-large {
  width: 68px;
 }

 .avatar-full {
  width: 100%;
 }


.avatar-bordered {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
