// FOOTER
footer {
  &.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    color: grey;
    .container-fluid {
      width:auto;
    }
    .footer-copyright {
       overflow: hidden;
      height: 50px;
      line-height: 50px;
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
      font-size: 0.9rem;
    }
    a {
      color: grey;
    }
    .title {
      text-transform: uppercase;
    }
    .call-to-action {
      text-align: center;
      padding-top: 1.3rem;
      padding-bottom: 0.5rem;
      ul li {
        display: inline-block;
        padding-right: 10px;
      }
    }
    .social-section {
      ul li  {
        display: inline-block;
      }
      ul {
        a {
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
    ul {
      list-style-type:none;
      padding:0;
    }
  }
 }
/* Instagram photos */
ul.instagram-photos {
  list-style-type: none;
  padding:0;
  li {
    display: inline-block;
    max-width: 100px;
    margin: 4px;
    img {
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  #hidden-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

