// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "footer";
@import "facebook";
@import "stripe";
@import "avatar";
@import "searchbar";
@import "map";
@import "reservation";
@import "product";
@import "photos";
@import "form";
@import "profilpage";
@import "devise";
@import "pagination";

@media screen and (max-width: 600px) {
  #hidden-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (min-width: 601px) {
  #hidden-desktop {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
