/* Map */
#map {
  width: 450px;
  height: 100vh;
  position: sticky !important;
  top: 0;
  flex-shrink: 0;

}

.content {
  display: flex;
  align-items: stretch;
}


@media screen and (max-width: 600px) {
  #hidden-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
