/* Searchbox fixed on search page */
#searchbox {
  width: 330px;
  height: 33vh;
  position: sticky !important;
  top: 0;
  flex-shrink: 0;

}

.content {
  display: flex;
  align-items: stretch;
}

