/* Bouton de reservation sur la show */
.reservation-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
}

.wide {
 width: 100%;
 }

.price_tag {
  background-color: #606567;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
 }


#message, #stripe{
  color: #FF0000;
  opacity: 0.8;
  display: block ;
  text-align: center;
}
