/*
*= require simple_calendar
*/


// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'chosen';

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "toastr";
@import "components/tinderslide";
@import "components/breadcrumb";
@import "components/card";
@import "components/caroussel";


.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}


.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
