<!-- Google maps -->
<div class="row">
  <div class="col-md-12">
    <div id="map"></div>
    <style>
      #map {
        height: 160px;
        width: 100%;
      }</style>
      <script>function initMap() {
        var uluru = {lat: <%= @product.latitude %>, lng: <%= @product.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgkkYGH99wJ7N-wb_J6HcjTvu9KK-ZFiU&callback=initMap"></script>
  </div>
</div>

