<div class="container">
  <p class="text-center"></p>
  <div class="cards">
    <div class="card">
      <div class="card-body">
        <div class="card-picture" style="background-image: url('http://unsplash.it/400/300')">
          <div class="card-hover">
            <h4>bla</h4>
            <p>This is my work I'm proud of it.</p>
          </div>
        </div>
        <div class="card-likes">
          <ul class="list-inline">
            <li><i class="fa fa-heart"></i> 140</li>
            <li><i class="fa fa-eye"></i> 567</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <img src="http://placehold.it/30x30" alt="" class="avatar">
        <a href="#">Eleken</a>
      </div>
    </div>
  </div>
</div>
