<hr>
<div class= "container">
  <div class="content">
    <% if @products.blank? %>
    <h5>Nous ne trouvons pas le produit suivant: <%= params[:search] %></h5>
    <% else %>
    <% @products.each do |product| %>
    <% if product.status? %>
    <div class="col-md-12 text-center">
L'article:
      <strong><%= product.name %></strong> (Ref.produit: <%= product.id %>) a bien été vendu <br><br><%= link_to "Passer à la notation", product_path(product), class:"btn btn-primary" %>
      <% else %>
      Ce produit est encore en vente, vous ne pouvez pas le noter...
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
