
<div class="text-center">
     <%= link_to your_articles_path, class: "btn btn-info" do %>
    Voir vos articles appréciés
    <% end %>
</div>
    <!-- start padding container -->
    <div class="wrap">
      <!-- start jtinder container -->
      <div id="tinderslide">
        <ul>
          <% @products.each do |product| %>
          <li class="pane1">
            <div class="img"><%= image_tag product.photos[0].image.url(:medium) if product.photos.length > 0 %></div>
            <div><strong><%= product.name %></strong>
             </div>
            <div class="like"></div>
            <div class="dislike"></div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions">
      <a href="#" class="dislike"><i></i></a>
      <a href="#" class="like"><i></i></a>
    </div>

    <!-- jTinder status text  -->
    <div id="status"></div>

    <div class="text-center">


    </div>
