<% if @reviews.present? %>
Il y a deja un commentaire.
<% else %>
<%= form_for([@product, @product.reviews.new]) do |f| %>
<div id="user_stars"></div>
<%= f.text_area :comment, rows: 3, class: "form-control" %>
<%= f.hidden_field :product_id, value: @product.id %><br>

<%= f.submit "Commentez ce projet", class: "btn btn-success" %>
<% end %>
<% end %>
